.hero-caption {
    font-size: clamp(0.8rem, 1rem + 0.2vw, 1.5rem);
    font-weight: 600;
    color: $primary;
}

.notice {
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;

    &.pink {
        margin: $spacer * 2;
        background-color: $pink;
        border: 1px solid darken($pink, 10%);
    }

    &.box {
        background-color: #f8f8f8;
        border: 1px solid darken(#f8f8f8, 10%);
    }

    &.gray {
        background-color: $gray-200;
        border: 1px solid darken($gray-200, 10%);
    }

    &.blue {
        background-color: $blue;
        border: 1px solid darken($blue, 10%);
    }
}

.booking-link-group {
  display: flex;
  justify-content: flex-start;
  margin: 2rem 0;

    .booking-link {
    display: block;
    width: 100%;
    text-align: center;
    background-color: $teal; /* or your brand color */
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    }

    .booking-link:hover {
    background-color: #004080;
    }
}